.custom-button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  color: #fff;
  background-color: #ff5722;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
}

.custom-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 120%;
  background-color: rgba(255, 255, 255, 0.3);
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transform: rotate(-45deg) translate(-50%, -50%);
  z-index: -1;
}

.custom-button:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translate(-50%, -50%) scale(1.2);
}

.custom-button span {
  position: relative;
  z-index: 2;
}

.custom-button:hover {
  background-color: #ff5722;
}

.custom-prev-button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 90px;
  height: 50px;
  background-image: linear-gradient(to top, #d8d9db 0%, #fff 80%, #fdfdfd 100%);
  border-radius: 30px;
  border: 1px solid #8f9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
}

.custom-prev-button:hover {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe;
}

.custom-prev-button:active {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.custom-prev-button:focus {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}
